.dark-mode {
    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    }

    a, h1, h2, h3, h4 {
        color: $gris;
    }

    .anuncio {
        background-color: $grisOscuro;
        border : 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }    
    }
    .informacion-propiedad {
        background-color: darken($gris, 50);
    }
    .contenido-anuncio-propiedad{
        background-color: $grisOscuro;
        .icono {
            filter: invert(100%);
        }    
        .precio {
            color: $verde;
        }
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not([type="submit"]), 
        textarea,
        select {
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        } 
    }

    .texto-nosotros {
        blockquote {
                color: $blanco;    
        }
    }
}