h1 {
    font-weight: $delgada;
}

.texto-nosotros {
    text-align: center;
    blockquote {
        font-size: 2.4rem;
        font-weight: $bold;
        position: static;
        margin-top: 2rem;
        padding: 0;
    }
}

@include tablet {
    .contenido-nosotros {
        display: flex;
        justify-content: left;
        column-gap: 2rem;
        margin-bottom: 4rem;
        
        .imagen {
            width: 500rem;
        }
        
        .texto-nosotros {
            text-align: left;
            margin: 0;
            padding: 0;
        }
        
        blockquote {
            font-size: 2.4rem;
            font-weight: $bold;
            position: static;
            margin: 0;
            padding: 0;
        }
        
        p {
            margin-top: 4rem;
        }
        
        :last-of-type {
            margin: 0;
        }
    }
}
